{:paths ["src" "resources"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-paths ["env/dev"]
        :extra-deps {com.datomic/client-cloud {:mvn/version "0.8.71"}
                     trident/ion-dev {:mvn/version "0.1.7"}
                     trident/web-repl {:mvn/version "0.1.7"}
                     trident/repl {:mvn/version "0.1.7"}}}}
 :trident/ion {:exclude [com.cognitect/s3-creds]}
 :deps
 {shared {:local/root "../shared"}
  trident/web {:mvn/version "0.1.7"}

  mount {:mvn/version "0.1.15"}
  com.datomic/ion {:mvn/version "0.9.28"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/clojure {:mvn/version "1.9.0"}
  orchestra {:mvn/version "2019.02.06-1"}
  compojure {:mvn/version "1.6.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring-cors {:mvn/version "0.1.13"}
  ring-middleware-format {:mvn/version "0.7.4"}
  com.taoensso/timbre {:mvn/version "4.10.0"}

  ; ion dependency conflicts
  com.cognitect/transit-java #:mvn{:version "0.8.311"},
  commons-codec/commons-codec #:mvn{:version "1.10"},
  com.datomic/client-api #:mvn{:version "0.8.12"},
  org.clojure/tools.analyzer.jvm #:mvn{:version "0.7.0"},
  com.fasterxml.jackson.core/jackson-core #:mvn{:version "2.9.5"},
  com.google.guava/guava #:mvn{:version "18.0"},
  org.msgpack/msgpack #:mvn{:version "0.6.10"},
  com.cognitect/transit-clj #:mvn{:version "0.8.285"},
  org.clojure/tools.reader #:mvn{:version "1.0.0-beta4"},
  org.slf4j/slf4j-api #:mvn{:version "1.7.14"},
  org.clojure/core.memoize #:mvn{:version "0.5.9"},
  org.clojure/core.cache #:mvn{:version "0.6.5"},
  com.amazonaws/aws-java-sdk-kms #:mvn{:version "1.11.349"},
  org.clojure/core.async #:mvn{:version "0.3.442"},
  com.amazonaws/aws-java-sdk-s3 #:mvn{:version "1.11.349"}}}
