{:paths ["src" "resources"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {com.datomic/client-cloud {:mvn/version "0.8.78"}
                     trident/ion-dev  {:mvn/version "0.1.12"}
                     trident/repl {:mvn/version "0.1.12"}}}}
 :trident/ion {:exclude [com.cognitect/s3-creds]}
 :deps
 {;shared {:local/root "../shared"}

  mount {:mvn/version "0.1.15"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  trident/web {:mvn/version "0.1.12"}}}
