{:paths ["src" "resources"]
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases
 {:dev {:extra-paths ["env/dev"]
        :extra-deps {com.datomic/client-cloud {:mvn/version "0.8.71"}
                     com.datomic/ion-dev {:mvn/version "0.9.186"}
                     nrepl {:mvn/version "0.6.0"}
                     compute/datomic-client-memdb
                     {:git/url "https://github.com/ComputeSoftware/datomic-client-memdb.git"
                      :sha "fd880e70b45a0837f1604aa1230047cb74ec536e"}
                     mount {:mvn/version "0.1.15"}
                     aleph {:mvn/version "0.4.6"}
                     org.clojure/tools.namespace {:mvn/version "0.2.11"}
                     jobryant.datomic {:local/root "../jobryant.datomic"}
                     }}
  :prod {:extra-paths ["env/prod"]}}
 :deps
 {jobryant.util {:local/root "../jobryant.util"}
  shared {:local/root "../shared"}
  com.datomic/ion {:mvn/version "0.9.28"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/clojure {:mvn/version "1.9.0"}
  orchestra {:mvn/version "2019.02.06-1"}
  compojure {:mvn/version "1.6.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring-cors {:mvn/version "0.1.13"}
  ring-middleware-format {:mvn/version "0.7.4"}
  com.google.firebase/firebase-admin {:mvn/version "6.8.1"}
  }}
