{:allow [trident.datomic-cloud.txauth/authorize
         bud.backend.core/handler]
 :lambdas {:init
           {:fn bud.backend.core/handler
            :integration :api-gateway/proxy
            :description "init"}}
 :app-name "bud"}
